.my-button {
  position: relative;
  left: 147px;
}

#my-div-gone-wrong {
  background-image: url('https://www.tynker.com/projects/screenshot/57503d4a588161e74f8b4578/better-derpy-eyes.png');
  background-repeat: no-repeat;
  background-position: 70% 45%;
  background-size: 40%;
}


h2 {
  position: relative;
  left: 90px;
}

myStyle {
  background: brown;
}
